html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0px;
}
.controls {
	left: 25%;
	position: absolute;
	z-index: 1;
}

.filter-buttons {
	margin: 5px;
	display: inline-block;
}

.filter-buttons__btn {
	border: none;
	background-color: #009e9f;
	color: #f3f4f4;
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.search-field {
	margin: 5px;
	width: 300px;
	height: 16px;
	border: none;
	padding: 10px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.filtered-list {
	background-color: #f3f4f4;
	color: #777;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bold;
	list-style: none;
	overflow: scroll;
	height: 99%;
	width: 15%;
	margin: 0px;
	padding: 0px;
	display: inline-block;
}

.filtered-list__li {
	cursor: pointer;
	margin: 20px;
	margin-left: 30px;
	width: 100%;
}

.liActive {
	color: #009e9f;
}

.map {
	width:85%;
	height:99%;
	position: absolute;
	display: inline-block;
}
